.fondo{
    background-image: url(panel_5.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}


.imagen1{
    width: 280px;
    height: 190px;
    margin-top: 160px;
    border:solid rgba(54, 140, 253, 0.808);
    box-shadow: 0px 5px 0px rgba(54, 140, 253, 0.808);
    transition: all .5s;
}


.imagen{
    width: 280px;
    height: 190px;
    margin-top: 160px;
    border: solid 4px;
    border:solid rgba(54, 140, 253, 0.808);
    box-shadow: 0px 5px 0px rgba(54, 140, 253, 0.808);
    transition: all .5s;
}


.imagenes:hover .imagen1{
    transform: scale(1.09);
}


.imagenes:hover .imagen{
    transform: scale(1.09);
}














/* Jhon Fredy */
.section-title {
         margin-bottom: 40px;
         font-weight: 700;
         color: #0d6efd;
         /* Color primario de Bootstrap */
      }




      .card-custom {
         border: none;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         transition: transform 0.3s ease;
      }




      .card-custom:hover {
         transform: translateY(-5px);
      }




      .icon-large {
         font-size: 3rem;
         color: #28a745;
         
      }








/* Jhon Edward */


.card {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s; /* Para el efecto hover */
}




.card:hover {
  transform: translateY(-5px); /* Efecto de levantar */
}

